<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- add in css for login.css -->
    <title>WeightLiftr</title>
</head>
<body>
    <div class="header">
        <h1>Welcome!</h1>
        <p>Please Login or Register</p>
    </div>
    <div class="sides">
        <div class="side">
            <h2>Login:</h2>
            <form action="/user/login" method="post">
                <div class="label">
                    <label for="email">Email:</label>
                    <label for="password">Password:</label>
                </div>
                <div class="input">
                    <input type="text" name="email" id="email">
                    <input type="text" name="password" id="password">
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="side">
            <h2>Register:</h2>
            <form action="/user/create" method="post">
                <div class="label">
                    <label for="first_name">First Name:</label>
                    <label for="last_name">Last Name:</label>
                    <label for="email">Email:</label>
                    <label for="password">Password:</label>
                    <label for="confirm_password">Confirm Password:</label>
                </div>
                <div class="input">
                    <input type="text" name="first_name" id="first_name">
                    <input type="text" name="last_name" id="last_name">
                    <input type="text" name="email" id="email">
                    <input type="text" name="password" id="password">
                    <input type="text" name="confirm_password" id="confirm_password">
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>